<% # INFO: This page is ment to display the current user foods! %>
<% # TODO: don't display any content if user is not authorized with cancancan %>
<% # TODO: should display list just to the current_user from devise %>
<section class="container m-block-2">
  <%= link_to 'Add Food', new_food_path(), class: "btn btn-right mb-2" %>
  <table class="food-table">
    <tr class="food-row food-row--header">
      <th>Food</th>
      <th>Measurement unit</th>
      <th>Unit price</th>
      <th>Actions</th>
    </tr>
    <%= render partial: 'food', collection: @foods %>
  </table>
</section>
