/*
*= require_tree .
*= require_self
*/

.title {
  font-size: 2.1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.container {
  max-width: 1024px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.btn {
  border: 3px solid black;
  padding: 0.4rem 0.8rem;
  display: block;
  max-width: max-content;
  text-decoration: none;
  color: black;
  font-weight: 600;
  box-shadow: 4px 4px 0 0 black;
}

.btn-right {
  margin-left: auto;
}

.btn:active {
  transform: translate(4px, 4px);
  box-shadow: none;
}

.field {
  position: relative;
}

.field label {
  top: -0.6rem;
  left: 0.6rem;
  padding-inline: 0.2rem;
  position: absolute;
  background-color: white;
  font-size: 0.9rem;
}

.field input,
.field textarea {
  width: 100%;
  outline: transparent;
  border: 3px solid black;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  margin-bottom: 1.2rem;
}

.check-box input {
  width: 24px;
  height: 24px;
  margin-bottom: 0;
}

.check-box label {
  height: 24px;
  top: initial;
  position: relative;
}

.check-box {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 1.2rem;
}

.m-block-2 {
  margin-block: 2rem;
}

.m-block-3 {
  width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.m-block-4 {
  width: 500px;
  padding: 20px;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.gap-2 {
  gap: 2rem;
}

.mainbg {
  background-image: url('background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-absolute form {
  width: 100%;
}
