
.recipe-container {
  max-width: 1024px;
  margin-inline: auto;
  padding-inline: 1rem;
  border: 3px solid black;
}

.recipe-container .recipe-row {
  display: flex;
  gap: 1rem;
}

.recipe-container .recipe-row .recipe-row-left {
  width: '30%';
}
.recipe-container .recipe-row .recipe-row-left {
  width: '70%';
}