/* food from "foods" URI */
.table {
  display: block;
  width: max-content;
  margin-inline: auto;
  border: 3px solid black;
}

.table .row--header {
  background-color: #ccc;
  text-align: left;
}

.table .row td,
.table .row th {
  padding: 0.3rem 0.8rem;
}

.table .row td:not(:last-child),
.table .row th:not(:last-child) {
  border-right: 3px solid black;
}

.table .row:nth-child(even) {
  background-color: #eee;
}
